<section id="team">
    <div class="container content">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h2>About Us <small>Meet Page Designer</small></h2>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="team-thumb">
                    <div class="team-image">
                        <img src="assets/images/quyen.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="team-info">
                        <h3>Ho Le Thuc Quyen</h3>
                        <span>I made staff function</span>
                    </div>
                    <ul class="social-icon">
                        <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-instagram"></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="team-thumb">
                    <div class="team-image">
                        <img src="assets/images/tienanh.png" class="img-responsive" alt="">
                    </div>
                    <div class="team-info">
                        <h3>Nguyen Tien Anh</h3>
                        <span>I made the leader board </span>
                    </div>
                    <ul class="social-icon">
                        <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-instagram"></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="team-thumb">
                    <div class="team-image">
                        <img src="assets/images/khoi.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="team-info">
                        <h3>Nguyen Duc Khoi</h3>
                        <span>I made the category</span>
                    </div>
                    <ul class="social-icon">
                        <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-instagram"></a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-4 ">
                <div class="team-thumb">
                    <div class="team-image">
                        <img src="assets/images/thu.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="team-info">
                        <h3>Ngo Qui Thu</h3>
                        <span>I made the layout</span>
                    </div>
                    <ul class="social-icon">
                        <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-instagram"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4 ">
                <div class="team-thumb">
                    <div class="team-image">
                        <img src="assets/images/khuong.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="team-info">
                        <h3>Le Nguyen An Khuong</h3>
                        <span>I made everything</span>
                    </div>
                    <ul class="social-icon">
                        <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-instagram"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>