<!DOCTYPE html>
<html>

<head>
	<script src="views/js/delete_question_view.js"></script>
</head>

<body onload="getCategory()">
	<div class="container content">
		<form id="deleteForm" class="form-group p-5 mb-2 bg-light text-dark">
			<div class="row justify-content-md-center">
				<div class="col col-3 text-center">
					<h5>Category:</h5>
					<select onchange="openQuestionList()" class="custom-select custom-select-sm" name="category" id="category" required>
						<option value=""></option>

					</select>
				</div>

				<div class="col col-3 text-center">
					<h5>Level:</h5>
					<select onchange="openQuestionList()" class="custom-select custom-select-sm" name="level" id="level" required>
						<option value=""></option>
						<option value="1">Easy</option>
						<option value="2">Medium</option>
						<option value="3">Hard</option>
					</select>
				</div>
			</div>
			<br>

			<div id="questionForm" style="display:none;" class="p-3 mb-2 bg-white text-dark">
				<table class="table table-bordered text-wrap">
					<thead>
						<tr class="text-center">
							<th scope="col"></th>
							<th scope="col">Question</th>
							<th scope="col">Answer</th>
							<th scope="col">Delete</th>
						</tr>
					</thead>

					<tbody id="questionTable">
					</tbody>
				</table>

				<div class="row justify-content-md-center">
					<button id="btn" type="button" class="btn btn-primary btn-block" style="width:150px; text-align:center;" onclick="submitForm()">Delete</button>	
				</div>
			</div>
			<br>

			<div class="alert alert-primary" role="alert" id="nothing" style="display:none;">
				You have not chosen any questions!!!
				<button type="button" class="close" aria-label="Close" onclick="closeNothingNoti()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="alert alert-success" role="alert" id="success" style="display:none;">
				Delete question(s) successfully!
				<button type="button" class="close" aria-label="Close" onclick="closeDelSuccess()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="alert alert-danger" role="alert" id="error" style="display:none;">
				Failed to delete question(s)!!!
				<button type="button" class="close" aria-label="Close" onclick="closeDelError()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="alert alert-danger" role="alert" id="warning" style="display:none;">
				The number of questions after deleting must be greater and equal 10!!!
				<button type="button" class="close" aria-label="Close" onclick="closeNumWarning()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

		</form>
	</div>
</body>

</html>