<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body onload="showCategory()">

    <div class="container content">
        <div id="categorySelectionCtn" class="container">
            <h1 id="category">Select test</h1>
            <!-- <script src="views/js/category_function.js"></script> -->
            <div id='where' class="row">
            </div>
        </div>
        <form id="examForm" class="form-group" style="display: none;">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <p>Category:</p>
                    </div>
                    <div class="col">
                        <p id="examCategory"></p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <p>Level:</p>
                    </div>
                    <div class="col">
                        <p id="examLevel"></p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-7 mx-auto">
                        <p id="score"></p>
                    </div>
                </div>
            </div>
        </form>
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <button id="submitBtn" type="button" class="btn btn-primary" onclick="submitForm()"
                        style="display: none;">Submit</button>
                </div>
            </div>
        </div>
        <script src="views/js/exam_view.js"></script>
    </div>
</body>

</html>