<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body onload="showCategory()">

    <div class="container content">
        <div id="categorySelectionCtn" class="container">
            <h1 id="category"> Category</h1>
            <!-- <script src="views/js/category_function.js"></script> -->
            <div id='where' class="row">
            </div>
        </div>
        <form id="examForm" class="form-group" style="display: none;">
            <p id="score"></p>
            <button id="submitBtn" type="button" class="btn btn-primary" onclick="submitForm()">Submit</button>
        </form>
        <script src="views/js/exam_view.js"></script>
    </div>
</body>

</html>