<footer class="">
	<div class="container ">
		<div class="row">
			<div class="col-2"></div>
			<div class="col-3">
				<div class="row w-100">
					<h3 class="nav-link text-dark">On this site</h3>
				</div>
				<div class="row w-100 border-right" id="navfooter1">
					<div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
						<!-- <div class="collapse navbar-collapse"> -->
							<ul class="navbar-nav" id="nav_menu">
								<li class="nav-item active">
									<a class="nav-link text-dark" href="index.php?page=home"><i
											class="fa fa-caret-right"></i> Home</a>
								</li>
								<li nav-item>
									<a class="nav-link text-dark" href="index.php?page=exam_view"><i
											class="fa fa-caret-right"></i> Exam</a>
								</li>
								<li>
									<a id="footer-profile" class="nav-link text-dark" href="index.php?page=result"><i
											class="fa fa-caret-right"></i> Profiles</a>
								</li>

								<li>
									<a class="nav-link text-dark" href="index.php?page=home"><i
											class="fa fa-caret-right"></i> About Us</a>
								</li>
							</ul>
						<!-- </div> -->
					</div>
				</div>
			</div>
			<div class="col-3">
				<div class="row w-100">
					<img class="img-fluid p-4 pt-0" src="assets/images/bachkhoa.PNG" alt="bachkhoalogo">
					<img class="img-fluid d-block p-2 pt-0" src="assets/images/ielts.PNG" alt="ielts">

				</div>
			</div>
			<div class="col-3">
				<div class="row w-100">
					<h3 class="nav-link text-dark">Contact</h3>
				</div>
				<div class="row w-100 border-left" id="navfooter2">
					<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
						<li>
							<h6 class="nav-link text-dark"><i class="fas fa-phone-alt"></i> +84123456789</h6>
						</li>
						<li>
							<h6 class="nav-link text-dark"><i class="fas fa-envelope"></i> bkeng@hcmut.edu.vn</h6>
						</li>
						<li>
							<a class="nav-link text-dark" href="https://facebook.com" target="_blank"><i class="fab fa-facebook"></i>
								BKEnglish Testing</a>
						</li>
						<li>
							<a class="nav-link text-dark" href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i>
								instagram/bkeng</a>
						</li>
					</div>
				</div>
			</div>
			<div class="col-1"></div>
		</div>
		<div class="row">
			<div class="footer-copyright py-3 text-dark m-auto">© 2020 Copyright:
				<a href="index.php?page=home"> HCMUT</a>
			</div>
		</div>
	</div>
	<!-- Copyright -->



</footer>
</body>

</html>