<footer class="page-footer font-small blue">
	<div class="container">
		<div class="row w-100">
			<div class="col-sw w-10">
				<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
					<a class="nav-link text-dark" href="index.php?page=home" style="font-size:16px">Home</a>
					<a id="profile" class="nav-link text-dark" href="index.php?page=result">Profile</a>
					<a class="nav-link text-dark" href="index.php?page=ranking">Ranking</a>
					<a class="nav-link text-dark" href="#v-pills-settings">Settings</a>
				</div>

			</div>
			<div class="col-sm w-10">
			</div>
		</div>
	</div>

	<div class="footer-copyright text-center py-3">© 2020 Copyright:
		<a href="index.php?page=home"> HCMUT</a>
	</div>

</footer>
</body>

</html>