<footer class="bg-dark">
	<div class="container ">
		<div class="row">
			<div class="col-4">
				<div class="row w-100">
					<h3 class="nav-link text-light">On this site</h3>
				</div>
				<div class="row w-100">
					<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
						<li>
							<h6 class="nav-link text-light" href="index.php?page=home" target="_blank"><i class="fa fa-caret-right"></i> Home</h6>
						</li>
						<li>
							<h6 class="nav-link text-light" href="index.php?page=home" target="_blank"><i class="fa fa-caret-right"></i> Profiles</h6>
						</li>
						<li>
							<h6 class="nav-link text-light" href="index.php?page=home" target="_blank"><i class="fa fa-caret-right"></i> Home</h6>
						</li>
						<li>
							<h6 class="nav-link text-light" href="index.php?page=home" target="_blank"><i class="fa fa-caret-right"></i> Home</h6>
						</li>
					</div>
				</div>
			</div>
			<div class="col-4">
				<img class="img-fluid p-4" src="assets/images/bachkhoa.PNG" alt="bachkhoalogo">
				<img class="img-fluid d-block p-2" src="assets/images/ielts.PNG" alt="ielts">
				<div class="footer-copyright py-3 text-light">© 2020 Copyright:
					<a href="index.php?page=home"> HCMUT</a>
				</div>
			</div>
			<div class="col-4">
			<div class="row w-100">
					<h3 class="nav-link text-light">Contact</h3>
				</div>
				<div class="row w-100">
					<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
						<li>
							<h6 class="nav-link text-light" href="index.php?page=home" target="_blank"><i class="fas fa-phone-alt"></i> +84123456789</h6>
						</li>
						<li>
							<h6 class="nav-link text-light" href="index.php?page=home" target="_blank"><i class="fas fa-envelope"></i> bkenglishtest@hcmut.edu.vn</h6>
						</li>
						<li>
							<h6 class="nav-link text-light" href="index.php?page=home" target="_blank"><i class="fab fa-facebook"></i> BKEnglish Testing</h6>
						</li>
						<li>
							<h6 class="nav-link text-light" href="index.php?page=home" target="_blank"><i class="fab fa-instagram"></i> instagram/bkeng</h6>
						</li>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Copyright -->

	

</footer>
</body>

</html>