<body onload="getRanking()">
<div class="container content">
	<div class="container">
		<div id="slideshow" class="carousel slide" data-ride="carousel">
			<ul class="carousel-indicators my-4">
				<li data-target="#slideshow" data-slide-to="0" class="active"></li>
				<li data-target="#slideshow" data-slide-to="1"></li>
				<li data-target="#slideshow" data-slide-to="2"></li>
			</ul>

			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="row justify-content-md-center">
						<div class="col text-center home-image-sidebar">
							<img class="d-block rounded shadow-lg w-100" src="assets/images/home_eng.jpg">
							  <div class="carousel-caption d-none d-md-block mb-4 text-left">
								<h1>YOUR ENGLISH YOUR FUTURE</h1>
							  </div>
						</div>
					</div>
				</div>
	
				<div class="carousel-item">
					<div class="row justify-content-md-center">
						<div class="col text-center home-image-sidebar">
							<img class="d-block rounded shadow-lg w-100" src="assets/images/home_img.png">
						</div>
						<div class="card-img-overlay d-none d-md-block mb-4 p-5">
							<h4 class="card-title">"The English language is like London: proudly barbaric yet deeply civilised, too, common yet royal, vulgar yet processional, sacred yet profane."</h4>
							<p class="card-text text-right">- Stephen Fry -</p>
						  </div>
					</div>
				</div>
	
				<div class="carousel-item">
					<div class="row justify-content-md-center">
						<div class="col text-center home-image-sidebar">
							<img class="d-block rounded shadow-lg w-100" src="assets/images/home_people.jpg">
						</div>
						<div class="carousel-caption d-none d-md-block mb-4 text-right">
							<h1>Together We Learn</h1>
							<h1>Together We Improve</h1>
						  </div>
					</div>
				</div>


			<a class="carousel-control-prev" href="#slideshow" role="button" data-slide="prev">
				<!-- <i style="color:#000; font-size:30px;" class="fas fa-arrow-alt-circle-left"></i> -->
				<span style="font-size:30px;" class="text-light fa fa-chevron-circle-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>

			<a class="carousel-control-next" href="#slideshow" data-slide="next">
				<!-- <i style="color:#000; font-size:30px" class="fas fa-arrow-alt-circle-right"></i> -->
				<span style="font-size:30px;" class="text-light fa fa-chevron-circle-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
	<br><br>

	<div class="container">
		<div class="row justify-content-sm-center"> 
			<h2 class="col col-sm-7 text-center" style="font-weight: bold;">We help people learn English and prove their skills to the world</h2>
		</div>
	</div>
	<br><br>

	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col-sm-1"></div>

			<div class="col-sm d-flex align-items-center">
				<div>
					<h2 class="row">Take an exam</h2>
					<h5 class="row text-justify">
						Try our quick, free exams to find what your level of English is. 
						There are several categories and levels, and after each exam you will get your score.
					</h5>
					<a href="index.php?page=exam_view" class="row btn btn-primary">Take an exam <i class="fa fa-chevron-right"> </i></a>
				</div>
			</div>

			<div class="col-sm">
				<a href="">
					<img class="d-block rounded w-100" src="assets/images/home_test.jpg">
				</a>
			</div>
		</div><br><br>


		<div class="row justify-content-sm-center">
			<div class="col-sm">
				<a href="">
					<img class="d-block rounded w-100" src="assets/images/home_exam.jpg">
				</a>
			</div>

			<div class="col-sm d-flex align-items-center">
				<div>
					<h2 class="row">Login to access more features</h2>
					<h5 class="row text-justify">
						Save and keep track your exams's result by login as our user-member.
						If you are not our member, don't worry, sign up now to have a better experience.
					</h5>
					<div class="row">
						<a href="index.php?page=login" class="col col-3 btn btn-primary">Login <i class="fa fa-chevron-right"> </i></a>
						<div class="col col-1"></div>
						<a href="index.php?page=sign_up" class="col col-3 btn btn-primary">Signup <i class="fa fa-chevron-right"> </i></a>
					</div>
				</div>
			</div>
			<div class="col-sm-1"></div>
		</div><br><br>

		<div class="row justify-content-sm-center">
			<div class="col-sm-1"></div>

			<div class="col-sm d-flex align-items-center">
				<div>
					<h2 class="row">Meet our founders</h2>
					<h5 class="row text-justify">
						See the people who took three months to make this web but it's so bad that nobody is gonna use it!!!
					</h5>
					<a href="index.php?page=about" class="row btn btn-primary">About Us <i class="fa fa-chevron-right"> </i></a>
					<br>
				</div>
			</div>

			<div class="col-sm">
				<a href="">
					<img class="d-block rounded w-100" src="assets/images/home_founder.jpg">
				</a>
			</div>
		</div>
	</div><br>

	<!-- -------------------------- TIME ------------------------- -->
	<!-- Use the custom-select class -->
	<div id="ranking-tables" style="padding-top: 50px; padding-bottom: 50px;">
		<div class="w-100" style="height: 40px;">
			<div class="float-left">
				<select class="custom-select" id="option" onchange="changeFunc()"> 
					<option value="alltime">All time</option> 
					<option value="lastmonth">Last month</option> 
					<option value="lastweek">Last week</option> 
			
					<option value="hard">Level: Hard</option>
					<option value="medium">Level: Medium</option>
					<option value="easy">Level: Easy</option>
					<option value="family">Topic: Family</option>
					<option value="tense">Topic: Tense</option>
					<option value="animal">Topic: Animal</option>
					<option value="country">Topic: Country</option>
					<option value="science">Topic: Science</option>
				</select> 
			</div>
		</div>
		
		<p id="noti" class="text-center font-italic"></p>
		<div id="alltime">
			<p class="text-center font-weight-bold" id="alltimeHeader">All-time ranking</p>
			<div class="d-flex justify-content-center">
				<table class="table table-bordered table-striped">
					<thead id="headerResultTable" class="text-center font-weight-bold bg-primary text-white">
					</thead>
					<tbody id="rankingTable">
					</tbody>
				</table>
			</div>
		</div>
		
		<div id="lastmonth" style="display: none;">
			<p class="text-center font-weight-bold" id=monthkHeader">Last month ranking</p>
			<div class="d-flex justify-content-center">
				<table class="table table-bordered table-striped">
					<thead id="headerResultTable2" class="text-center font-weight-bold bg-primary text-white">
					</thead>
					<tbody id="rankingTable2">
					</tbody>
				</table>
			</div>
		</div>
		
		<div id="lastweek" style="display: none;">
		<p class="text-center font-weight-bold" id="weekHeader">Last week ranking</p>
		<div class="d-flex justify-content-center">
			<table class="table table-bordered table-striped">
				<thead id="headerResultTable3" class="text-center font-weight-bold bg-primary text-white">
				</thead>
				<tbody id="rankingTable3">
				</tbody>
			</table>
		</div>
		</div>
	
		<!-- -------------------------- LEVEL ------------------------- -->
		<div id="hard" style="display: none;">
		<p class="text-center font-weight-bold" id="3Header">Hard-level ranking</p>
		<div class="d-flex justify-content-center">
			<table class="table table-bordered table-striped">
				<thead id="headerResultTable_3" class="text-center font-weight-bold bg-primary text-white">
				</thead>
				<tbody id="rankingTable_3">
				</tbody>
			</table>
		</div>
		</div>
	
		<div id="medium" style="display: none;">
		<p class="text-center font-weight-bold"  id="2Header">Medium-level ranking</p>
		<div class="d-flex justify-content-center">
			<table class="table table-bordered table-striped">
				<thead id="headerResultTable_2" class="text-center font-weight-bold bg-primary text-white">
				</thead>
				<tbody id="rankingTable_2">
				</tbody>
			</table>
		</div>
		</div>
	
		<div id="easy" style="display: none;">
		<p class="text-center font-weight-bold"  id="1Header">Easy-level ranking</p>
		<div class="d-flex justify-content-center">
			<table class="table table-bordered table-striped">
				<thead id="headerResultTable_1" class="text-center font-weight-bold bg-primary text-white">
				</thead>
				<tbody id="rankingTable_1">
				</tbody>
			</table>
		</div>
		</div>
	
		<!-- -------------------------- CATEGORY ------------------------- -->
		<div id="family" style="display: none;">
		<p class="text-center font-weight-bold"  id="FamilyHeader">Family-category ranking</p>
		<div class="d-flex justify-content-center">
			<table class="table table-bordered table-striped">
				<thead id="headerResultTable_Family" class="text-center font-weight-bold bg-primary text-white">
				</thead>
				<tbody id="rankingTable_Family">
				</tbody>
			</table>
		</div>
		</div>
	
		<div id="tense" style="display: none;">
		<p class="text-center font-weight-bold" id="TenseHeader">Tense-category ranking</p>
		<div class="d-flex justify-content-center">
			<table class="table table-bordered table-striped">
				<thead id="headerResultTable_Tense" class="text-center font-weight-bold bg-primary text-white">
				</thead>
				<tbody id="rankingTable_Tense">
				</tbody>
			</table>
		</div>
		</div>
		
		<div id="animal" style="display: none;">
		<p class="text-center font-weight-bold" id="AnimalHeader">Animal-category ranking</p>
		<div class="d-flex justify-content-center">
			<table class="table table-bordered table-striped">
				<thead id="headerResultTable_Animal" class="text-center font-weight-bold bg-primary text-white">
				</thead>
				<tbody id="rankingTable_Animal">
				</tbody>
			</table>
		</div>
		</div>
	
		<div id="country" style="display: none;">
		<p class="text-center font-weight-bold" id="CountryHeader">Country-category ranking</p>
		<div class="d-flex justify-content-center">
			<table class="table table-bordered table-striped">
				<thead id="headerResultTable_Country" class="text-center font-weight-bold bg-primary text-white">
				</thead>
				<tbody id="rankingTable_Country">
				</tbody>
			</table>
		</div>
		</div>
	
		<div id="science" style="display: none;">
		<p class="text-center font-weight-bold" id="ScienceHeader">Science-category ranking</p>
		<div class="d-flex justify-content-center">
			<table class="table table-bordered table-striped">
				<thead id="headerResultTable_Science" class="text-center font-weight-bold bg-primary text-white">
				</thead>
				<tbody id="rankingTable_Science">
				</tbody>
			</table>
		</div>
		</div>
	</div>
</div>
</body>
