<!DOCTYPE html>
<html>
<head>
    
</head>

<body onload="getRanking()">
    <script src="views/js/ranking.js"></script>
    <div class="container content">
        <p id="noti" class="text-center font-italic"></p>
        <div class="d-flex justify-content-center">
            <table class="table table-bordered w-75 ">
                <thead id="headerResultTable" class="text-center font-weight-bold">
                </thead>
                <tbody id="rankingTable">
                </tbody>
            </table>
        </div>

    </div>
</body>

</html>