/* html, body {
    height: 100%;
    margin: 0;
} */

form {
	height: 100%;
	border: 2px solid black;
	font-family: Apercu, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

fieldset {
	border: 0;
	width: fit-content;
	height: 240px;
	padding: 20px 20px 20px 20px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.front {
	display: inline-block;
	width: 80px;
}

.submit {
	display: flex;
	justify-content: center;
}

.submit input {
	background-color: white;
	color: black;
	cursor: pointer;
	border: 1px solid black;
	text-decoration: none;
	padding: 15px 20px;
	font-size: medium;
}

.textbox {
	width: 150px;
}

legend {
	margin: auto;
	margin-bottom: 20px;
	font-size: larger;
	font-weight: bolder;
}

.error {
	color: red;
	font-size: small;
	padding-top: 5px;
	padding-left: 85px;
}
